*{
    box-sizing: border-box;
}

body {
    margin: auto;
    font-size: 20px;
}


header {
    background-color: lightskyblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home img{
    max-width: 300px;
}

.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    text-align: center;
    background-color: wheat;
    width: 100%;
}

footer {
    background-color: lightskyblue;
    padding: 5px;
    margin: 10px 0 0;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid whitesmoke;
    text-decoration: overline;
    color: whitesmoke;
}

.main-title {
    text-align: center;
    color: rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}


.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}

.bug-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.bug-preview {
    background-color: #333;
    color: whitesmoke;
    border-radius: .2em;
    margin: 10px;
    text-align: center;
    padding: 10px;
    min-width: 200px;
}

.bug-preview button{
    margin: 5px;
}

.bug-preview a {
    color: lightskyblue;
}

.bug-preview span {
    color: gold;
}

.info-actions {
    width: 100%;
    background-color: antiquewhite;
    padding: 10px;
    min-width: 200px;
}

.bug-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bug-filter form {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}